<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>PopiView</title>
		<link rel="stylesheet" type="text/css" href="component?file=css/screen.css" media="screen, projection" />
		<!--[if lt IE 8]><link rel="stylesheet" href="component?file=css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="component?file=css/style.css" media="screen, projection" />
		<link rel="stylesheet" type="text/css" href="component?file=css/fonts.css" media="screen, projection" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	</head>
	<body>
		<div id="deviators">
			<h1>Top Deviators</h1>
			<ul class="options"><li>Options</li></ul>
			<table></table>
		</div>
		<div id="keywordcloud">
			<h1>Search Keywords</h1>
			<ul class="options"><li>Options</li></ul>
			<ol></ol>
		</div>
		<div id="hitmonitor">
			<h1>Hit Monitor</h1>
			<ul class="options">
				<li><input type="checkbox" name="external" checked />External</li>
				<li><input type="checkbox" name="searches" checked />Searches</li>
				<li><input type="checkbox" name="internal" checked />Internal</li>
				<li><input type="checkbox" name="direct" checked />Direct</li>
			</ul>
			<ol></ol>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				var monitor_timestamp = 0;
				var opts = new Array();
				opts['external'] = 1;
				opts['searches'] = 1;
				opts['internal'] = 1;
				opts['direct'] = 1;
				$("input[type=checkbox]").toggle(function(){
					$(this).removeAttr('checked');
					opts[$(this).attr('name')] = 0;
				}, function(){
					$(this).attr('checked', 'checked');
					opts[$(this).attr('name')] = 1;
				});

				function updateDeviators(){
					$.getJSON('deviators.json', function(data){
						var items = '';
						for (x in data){
							if (data[x].value > 0) { data[x].value = '+' + data[x].value; }
							items += '<tr><td>' + data[x].name + '</td><td>' + data[x].value + ' %</td></tr>';
						}
						$('#deviators table').html(items);
					});
				}
				function updateKeywordCloud(){
					$.getJSON('keywordcloud.json', function(data){
						var items = '';
						for (x in data){
							items += '<li style="font-size:' + data[x][1] + '%;">' + data[x][0] + '</li>';
						}
						$('#keywordcloud ol').html(items);
					});
				}
				function updateMonitor(){
					$.getJSON('hitmonitor.json?last_timestamp='+monitor_timestamp+'&ext='+opts['external']+'&sea='+opts['searches']+'&int='+opts['internal']+'&dir='+opts['direct'], function(data){
						var item = '';
						var colorcode = 'f22';
						for (x in data){
							monitor_timestamp = data[x].timestamp;
							if(data[x].source.indexOf('internal') == 0) { colorcode = 'ff6'; }
							else if(data[x].source.indexOf('direct') == 0) { colorcode = '28f'; }
							else if(data[x].source.indexOf('Google') == 0) { colorcode = '0f0'; }
							else if(data[x].source.indexOf('Yahoo') == 0) { colorcode = '0f0'; }
							else if(data[x].source.indexOf('Bing') == 0) { colorcode = '0f0'; }
							else { var colorcode = 'f22'; }
							item = '<li class="new" style="background-color:#' + colorcode + '">' + data[x].path + '<br/><span>' +
							data[x].source + '</span></li>';
							$('#hitmonitor ol').prepend(item);
							if($('#hitmonitor ol li').length > 20){
								$('#hitmonitor ol li:last').remove();
							}
						}
						$("li.new").animate({
							backgroundColor: "#fff"
						}, 3000 );
						$("li.new").removeClass('new');
					});
				}
				updateDeviators();
				updateKeywordCloud();
				updateMonitor();
				setInterval('updateDeviators()', 30000);
				setInterval('updateKeywordCloud()', 30000);
				setInterval('updateMonitor()', 3000);
			});
		</script>
	</body>
</html>
