<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="component?file=css/screen.css" media="screen, projection" />
		<!--[if lt IE 8]><link rel="stylesheet" href="component?file=css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<link rel="stylesheet" type="text/css" href="component?file=css/style.css" media="screen, projection" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="colleft">
				<div id="deviators">
					<h1>Top Deviators</h1>
					<table></table>
				</div>
				<div id="keywordcloud">
					<h1>Search Keywords</h1>
					<ul></ul>
				</div>
			</div>
			<div id="colright">
				<div id="hitmonitor">
					<h1>Hit Monitor</h1>
					<ul></ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var monitor_timestamp = 0;
			var deviators = setInterval('updateDeviators()', 30000);
			var keywordcloud = setInterval('updateKeywordCloud()', 30000);
			var monitor = setInterval('updateMonitor()', 3000);
			function updateDeviators(){
				$.getJSON('deviators.json', function(data){
					var items = ''
					for (x in data){
						if (data[x].value > 0) { data[x].value = '+' + data[x].value; }
						items += '<tr><td>' + data[x].url + '</td><td>' + data[x].value + ' %</td></tr>';
					}
					$('#deviators table').html(items);
				});
			}
			function updateKeywordCloud(){
				$.getJSON('keywordcloud.json', function(data){
					var items = ''
					for (x in data){
						items += '<li style="font-size:' + data[x][1] + '%;">' + data[x][0] + '</li>';
					}
					$('#keywordcloud ul').html(items);
				});
			}
			function updateMonitor(){
				$.getJSON('hitmonitor.json?last_timestamp='+monitor_timestamp, function(data){
					var item
					for (x in data){
						monitor_timestamp = data[x].timestamp;
						item = '<li class="new">' + data[x].path + '<br/><span>' +
                        data[x].source + '</span></li>';
						$('#hitmonitor ul').prepend(item);
						if($('#hitmonitor ul li').length > 20){
							$('#hitmonitor ul li:last').remove();
						}
					}
					$("li.new").css("background-color", "#FFF6BF");
					$("li.new").animate({
						backgroundColor: "#fff"
					}, 1500 );
					$("li.new").removeClass('new');
				});
			}
			$(document).ready(function(){
				updateDeviators();
				updateKeywordCloud();
				updateMonitor();
			});
		</script>
	</body>
</html>
