html,body { background:#eee; font-family:Verdana, Arial, Helvetica, sans-serif; }

h1 {
	background:#207ab0 url(./component?file=img/bar.png) repeat-x bottom;
	padding:0 20px; margin:0 0 10px 0; line-height:2.2em;
	font-family:'UbuntuRegular', Arial, sans-serif;
	font-weight:bold; font-size:1.8em; color:#fff;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}

.alignRight { text-align:right; }

.options {
	float:right; background:#044466; height:2.2em; list-style:none;
	margin:0; padding:0; margin-top:-57px; margin-right:20px; padding-right:15px;
	-moz-border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; border-radius:0 0 8px 8px;
}
.options li {
	float:left; margin:0; padding:0 0 0 10px; line-height:2.4em; font-size:0.9em; color:#fff;
    
}
.options li input[type=checkbox] { margin:0 5px 0 0; }
.options select { border:0; font-size:0.9em; }

#deviators { position:absolute; top:3%; left:2%; width:60%; height:33%; }
#deviators table {
	display:block; height:80%; background:#fff; overflow:auto; padding:8px 0;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#deviators table td { padding:0 20px; line-height:2em; font-size:1.5em; }

#toppages { position:absolute; top:39%; left:2%; width:60%; height:33%; }
#toppages table {
	display:block; height:80%; background:#fff; overflow:auto; padding:8px 0;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#toppages table td { padding:0 20px; line-height:2em; font-size:1.5em; }

#keywordcloud { position:absolute; top:75%; left:2%; width:60%; height:25%; }
#keywordcloud ol {
    width:100%; background:#fff; list-style:none; text-align:center; overflow:auto;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
	margin:0; padding:8px 0; font-size:1.5em;
}
#keywordcloud ol li { line-height:1em; display:inline-block; margin:10px; padding:0; }

#hitmonitor { position:absolute; top:3%; left:64%; width:34%; height:94%; }
#hitmonitor ol {
	display:block; height:92%; width:100%; background:#fff; list-style:none; overflow:auto;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
	margin:0; padding:8px 0;
}
#hitmonitor ol li { margin:0; padding:10px 20px; line-height:1em; font-size:1.5em; border-left:10px #fff solid; }
#hitmonitor ol li span { font-size:0.8em; color:#666; }

.internal.new { background-color:#EEE600; }
.internal { border-left-color:#EEE600!important; }
.external.new { background-color:#FF2222; }
.external { border-left-color:#FF2222!important; }
.direct.new { background-color:#2288FF; }
.direct { border-left-color:#2288FF!important; }
.searches.new { background-color:#00E900; }
.searches { border-left-color:#00E900!important; }
