html,body { background:#eee; }

h1 { 
	background:#207ab0 url(./component?file=img/bar.png) repeat-x bottom;
	padding:0 10px; margin:0 0 10px 0; line-height:2em; font-size:1.5em; color:#fff;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}

#container { width:96%; height:94%; position:absolute; left:50%; top:50%; margin-left:-48%; margin-top:-47%; }
#colleft { position:absolute; height:100%; width:70%; overflow:hidden; }
#colright { position:absolute; right:0; height:100%; width:30%; overflow:hidden; }

#deviators { width:98%; height:50%; }
#deviators table {
	display:block; background:#fff; overflow:auto;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#deviators table td { padding:0 10px; line-height:2em; }

#keywordcloud { margin-top:20px; height:50%; }
#keywordcloud ul {
    display:block; width:100%; background:#fff; list-style:none; text-align:center; overflow:auto;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#keywordcloud li { display:inline-block; margin:5px; }

#hitmonitor { width:100%; height:100%; }
#hitmonitor ul {
	display:block; background:#fff; list-style:none; overflow:auto;
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#hitmonitor li { padding:8px 10px; line-height:0.9em; }
#hitmonitor li span { font-size:0.6em; }